<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
<title>Style Converter</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Gaming Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements"/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../static/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
	<div class="padding-all">
		<div class="header">
			<h1><img src="../static/web/images/1.png" alt=" "> Style Converter</h1>
		</div>

		<div class="design-w3l">
			<div class="mail-form-agile">
				<form  method="post" enctype="multipart/form-data">
					
					<label >
						<font color="white" size="+2" >	Upload Content Video</font><br>
						</label>
                    <input type="file"  name="video"   required/><br><br><br>
                    <!--
					<label >
						<font color="white" size="+2" >	Upload Style Image</font><br>
						</label>
					<input type="file"  name="style"   required/><br><br><br> -->
					<input type="submit" value="Submit"> 

				<a class="btn btn-primary" href="/vn"><p style="color:white">UDNIE</p></a>
				<br>
                <!--
				<a class="btn btn-primary" href="/vn1"><p style="color:white">SCREAM</p></a>
				<br>-->
				<a class="btn btn-primary" href="/vn2"><p style="color:white">STARRY_NIGHTS</p></a>
				<br>
				<a class="btn btn-primary" href="/vn3"><p style="color:white">CANDY</p></a>
                 
                 
				</form>

				{{output}}
		
                <br>
               
			</div>
		  <div class="clear"> </div>
		</div>
		
		<div class="footer">
		<p>© 2022 Style Converter. All Rights Reserved | Design by  <a href="/" >  Style Converter </a></p>
		</div>
	</div>
</body>
</html>